.newPostBackground {
  background-color: #f2f2f2 !important;
  height: 100%; }
  .newPostBackground .title {
    margin: 8px 0px 0px 0px; }
  .newPostBackground .simpleTextarea {
    border: 0;
    outline: none;
    resize: none; }
  .newPostBackground .addFriend {
    margin: 0px;
    padding: 8px;
    text-align: left;
    color: #525252; }
    .newPostBackground .addFriend md-icon {
      margin: 0px 8px 0px 8px; }
