.userBackground
  width: 100%
  height: 144px
  background-color: lightgray

  .avatarContainer
    padding: 32px 16px 32px 16px

    .avatar
      width: 80px
      height: 80px
      border-width: 0px
      border-radius: 40px
