.userContainer
  height: 204px
  position: relative

  .userBackground
    width: 100%
    height: 144px
    background-repeat: no-repeat
    background-position: center center
    background-size: 100% auto

  .avatar
    width: 80px
    height: 80px
    border-radius: 40px
    position: absolute
    left: 16px
    top: 104px
