.newPostBackground
  background-color: #f2f2f2 !important

  .simpleTextarea
    border: 0
    outline: none
    resize: none

  .addFriend
    margin: 0px
    padding: 8px
    text-align: left
    color: #525252

    md-icon
      margin: 0px 8px 0px 8px
