.othersBackground
  background-color: #f2f2f2 !important

  .othersToolbar
    background-color: #ffffff !important
    height: 88px
    color: #525252 !important
    overflow: scroll !important

    .userContainer
      text-align: center
      margin: 0px 8px 0px 8px

      .avatar
        width: 48px
        height: 48px
        border-radius: 24px
      .name
        height: 24px
        font-size: 0.7em
        text-align: center

  .cardContainer
    width: 100%
    background-color: #f2f2f2 !important

    .space
      width: 280px

    md-card-header
      height: 40px

      .avatar
        height: 40px
        width: 40px
        border-radius: 20px

      .username
        font-size: 1.16em
        color: #525252
        line-height: 40px
        padding: 0px 0px 0px 16px

  .cardImg
    height: 50%
    background-size: cover

  md-card-content
    color: #525252 !important

    p
      font-size: 1.16em

  .addButton
    position: fixed
    right: 12px
    bottom: 12px
		
    .menuButton
      padding: 0px !important
      font-weight: normal
      color: #525252 !important
      font-size: 0.6em
      min-width: 64px
