.othersBackground
	background-color: #f2f2f2 !important

	.friends
		height: 80px
		padding-left: 10px
		padding-right: 10px
		background-color: white

	.friend
		padding-left: 10px
		padding-right: 10px

	.userAvatar
		width: 48px
		height: 48px
		border-radius: 50%

	.name
		font-size: 12px
		text-align: center

	.content
		padding-left: 10px
		padding-right: 10px
		background-color: #f2f2f2 !important

	.cardContainer
		padding-left: 10px
		padding-right: 10px

	.card
		width: 260px
		height: 390px

	.cardHeader
		height: 15%
		padding: 0
		padding-left: 5%
		padding-right: 5%

	.cardAvatar
		width: 36px
		height: 36px
		border-radius: 50%

	.cardImg
		height: 50%
		background-size: cover

	.divider
		height: 3%

	.time
		height: 10%
		padding-left: 5%
		padding-right: 5%

	.cardContent
		height: 12%
		padding: 0
		padding-left: 5%
		padding-right: 5%

	.cardFooter
		height: 10%
		padding: 0

	.addButton
	  position: fixed
	  right: 12px
	  bottom: 12px

	  .menuButton
	    padding: 0px !important
	    font-weight: normal
	    color: #525252 !important
	    font-size: 0.6em
	    min-width: 64px
