link(rel='stylesheet', type='text/css', href='../css/newPost.css')

md-content.newPostBackground(ng-cloak ng-controller='newPostController as nc')
  div.md-padding
    h2.md-title.title 创建新的时间节点
  md-card
    textarea.md-padding.simpleTextarea(rows='8', md-autofocus, placeholder='说说你想说什么吧~')
    md-divider
    input(style='display: none;', type='file', name='photo', accept='image/*', id='selectPhoto')
    md-button.addFriend(ng-click='visitPhoto()')
      md-icon(md-svg-src='../svg/photo.svg')
      span 拍照或选取照片
    md-divider
    md-button.addFriend(ng-click='showFriendsList()')
      md-icon(md-svg-src='../svg/circleAdd.svg')
      span 邀请好友合并节点
    div
      md-list-item.noright(ng-repeat='friend in friends')
        img.md-avatar(ng-src='{{friend.avatar}}')
        p {{friend.name}}
        md-checkbox.md-secondary(ng-model='friend.isSelected')
