link(rel="stylesheet" type="text/css" href="../css/others.css")

md-content.othersBackground(ng-controller="othersController as oc" style="height: 100%" ng-cloak)
  div(style="width: 100%; overflow: scroll")
    md-content.md-whiteframe-1dp.othersToolbar.md-padding(layout="row" style="width: {{users.length * 64 + 16}}px")
      div.userContainer(ng-repeat="user in users")
        img.avatar(ng-src="{{user.avatar}}")
        span.name {{user.name}}

  md-content.cardContainer(style="height: calc(100% - 144px); width: 100%")
    div(style="width: {{users.length * 296}}px; height: 100%" layout="column")
      div(style="height: 10%; min-height: 48px;")
      div(style="height: 80%" layout="row")
        md-card.cards(ng-repeat="user in users" style="height: 100%")
          div.space
          md-card-header
            md-card-avatar
              img.avatar(src="{{user.avatar}}")
            md-card-header-text
              span.username {{user.name}}
          div.cardImg(style='background-image: url("{{user.picture}}")')
          md-card-content
            p {{user.time}}
            p {{user.text}}
      div(style="height: 10%")
  md-fab-speed-dial.addButton.md-scale(md-open="false" md-direction="up")
    md-fab-trigger
      md-button.md-fab(aria-label="menu")
        md-icon(md-svg-src="../svg/whiteMenu.svg")
    md-fab-actions
      md-button.md-raised.menuButton(ng-click="oc.newPost()") 添加结点
      md-button.md-raised.menuButton(ng-click="oc.timeCapsule()") 时间囊
