link(rel='stylesheet', href='../css/photo.css')

md-content.photoBackground(ng-cloak ng-controller='photoController as phc' layout-xs="column" layout="row")
  md-card
    md-card-header
      md-card-avatar
        img.avatar(src="../img/avatar.png")
      md-card-header-text
        span.username {{username}}
    div.imageContainer(style='background-image: url("{{imagePath}}")')
    md-card-title
      md-card-title-text
        span.md-headline {{date}}
    md-card-content
      p(ng-repeat='description in descriptions') {{description}}
    md-card-actions(layout="row" layout-align="end center")
      md-button(class="md-icon-button md-accent" aria-label="Favorite" ng-click="changeFavorite()")
        md-icon(md-svg-icon="{{getFavorite}}")
      md-button(class="md-icon-button" aria-label="Settings")
        md-icon(md-svg-icon="../svg/menu.svg")
      md-button(class="md-icon-button" aria-label="Share")
        md-icon(md-svg-icon="../svg/share.svg")
