link(rel='stylesheet', type='text/css', href='../css/punchedCard.css')

md-content.md-padding.greyBackground(ng-controller='punchedCardController as pcc')
  md-calendar(ng-model="myDate" md-min-date="minDate" md-max-date="maxDate")
