link(rel='stylesheet', type='text/css', href='../css/punchedCard.css')

md-content.md-padding.greyBackground(ng-controller='punchedCardController as pcc')
  div(layout="column" layout-align="center stretch" )
      md-calendar(class="fixed-calendar" ng-model="myDate" md-min-date="minDate" md-max-date="maxDate" md-date-filter="theDate")
