link(rel='stylesheet', href='../css/relationship.css')

md-content.relationBackground(ng-controller='relationshipController as rc' ng-cloak layout="column")
  section(ng-repeat="text in monthText")
    md-subheader(class="md-primary") {{text}}
    md-list(layout="column" layout-padding)
      md-list-item(ng-repeat="message in messages" ng-if="message.month == text && message.isShare" layout="row")
        md-fab-speed-dial.md-scale(md-direction="right" md-open="message.isOpen" ng-click="showFriend()")
          md-fab-trigger
            md-button.md-fab.md-mini(ng-disabled="message.shareNum == 0") {{message.date}}
          md-fab-actions
            img.md-avatar.avatar(ng-repeat="image in message.shareFaces" ng-src="{{image}}")
