link(rel='stylesheet', href='../css/timeline.css')

md-content.timelineBackground(ng-controller='timelineController as tc' ng-cloak layout='row')
  div(flex)
    div(ng-repeat="item in tlitems" ng-if='$index % 2 == 0')
      md-card.leftCards
        div.imageContainer(style='background-image: url("{{item.url}}")', ng-click='mc.navigateToPhoto(item.id)')
      div.space
  div.timeNodeContainer(ng-cloak)
    div.timeline
    md-list-item.timeNode(ng-repeat="item in tlitems")
      md-button.md-fab.md-mini(aria-label="Num") {{item.day}}
  div(flex id='rightImages')
    div.firstSpace
    div(ng-repeat="item in tlitems" ng-if='$index % 2 == 1')
      md-card.rightCards
        div.imageContainer(style='background-image: url("{{item.url}}")', ng-click='mc.navigateToPhoto(item.id)')
      div.space
